@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable][data-placeholder]:empty:before {
	content: attr(data-placeholder);
	position: absolute;
	color: #6B7280;
	background-color: transparent;
}
